  ion-grid{
    
    background-image: url('../../../assets/bgimg.jpg');
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding: none;
   

  }
  ion-item-divider{
    border-color: black;
  }
   div{
    border-left: 5px solid black; 
    height: 90%;
   margin-top: auto;
   margin-bottom: auto;
    
   }
  ion-row{
    width: 80%;
    height: 70%;
    background-image: url('../../../assets/bgimg.jpg');

  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 90%;
    width: 65%;
    margin-right: auto;
    
   
  }
   ion-item {
    --background: transparent; /* remove the default background color */
    
  }

  .company-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    height: 100%;
    padding: 15px;
   }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
   
  }
  ion-note {
    background-color: transparent !important;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 5px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 10px;
   
  }

  .buttons {
    display: flex;
    width: 110%;
    --border-style: none;
    padding: 10px ;
    
  }
  .btn {
    font-size: 90%;
    margin-right: auto;
    
  }



  
//   ion-item {
//     background-color: transparent !important;
//     .ion-input {
//        font-size: 16px;
//         padding: 10px;
//         --background: transparent; 
      
//     }
   
    //   background-color: transparent !important;
    //   justify-content: flex-end;
   
//       .btn {
//         font-size: 80%;
//         // color: black;
//         // padding: 10px;
        
//         //   background-color: black;
        
//       }
    
    



//  .ion-padding{
//     background-image: url('../../../assets/bgimg.jpg');
//  }
//  form {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 70%;
//     margin: auto;
//     margin-top: 10%;
//     max-width: 85%;
//      background-image: url('../../../assets/bgimg.jpg');
//     box-shadow: 0px 0px 10px rgb(238, 232, 232);
//   }
//  ion-item {
//     --background: transparent; /* remove the default background color */
//   }
  
//   ion-button {
//     width: 100%;
//   }
  


