<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="container">
    <ion-row class="container-content">
      <ion-col size-lg="7.2" size-md="7.2" size-sm="12" class="company-info">
        <h1>SRD-JOURNAL</h1>
        <p>Company Description</p>
        <!-- Add any other company-related information here -->
      </ion-col>

      <ion-col size-lg="4.3" size-md="3.3" size-sm="10" class="login-form">
        <form (ngSubmit)="login()" [formGroup]="credentials" class="form">
          <ion-item>
            <ion-input
              class="input"
              type="email"
              placeholder="Email"
              formControlName="email"
              autocomplete="off"
            ></ion-input>
            <ion-note
              slot="error"
              *ngIf="(email?.dirty || email?.touched) && email?.errors"
            >
              Email is invalid!!
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-input
              class="input"
              type="password"
              placeholder="Password"
              formControlName="password"
              autocomplete="off"
            ></ion-input>
            <ion-note
              slot="error"
              *ngIf="(password?.dirty || password?.touched) && password?.errors"
            >
              Password needs to be at least 6 characters!
            </ion-note>
          </ion-item>

          <div class="form-button">
            <ion-button class="login-button" type="submit" expand="block"
              >Log-in</ion-button
            >
            <ion-button
              class="login-button"
              type="button"
              expand="block"
              (click)="register()"
              >Create account</ion-button
            >
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
